<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header class="main-time">
        <span>12:10</span>
    </header>



    <div class="iot-div">
        <div class="iot-div-column">   <!-- 온도 -->
            <i class="fas fa-temperature-low fa-lg"></i>
        </div>   
        <div class="iot-div-column">   <!-- 습도 -->
            <i class="fas fa-tint fa-lg"></i>
        </div>
        <div class="iot-div-column">   <!-- 날씨 -->
            <i class="fas fa-sun fa-lg"></i>
        </div>
        <div class="iot-div-column">   <!-- 조향 -->
            <i class="fas fa-wine-bottle fa-lg"></i>
        </div>

      </div>

    

      
<script src="https://kit.fontawesome.com/6478f529f2.js"
crossorigin="anonymous"> 
</script>
</body>




</html>